#paper-stripe:before,
html body > nav:before {
  border: 1px solid #dcdcdc;
  border-width: 1px 0;
  content: " ";
  height: 2px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
}
#standard-button,
.home-page .introduction .action a,
.subject-viewer .controls .play button,
.subject-viewer .controls .finished button,
.subject-viewer .followup .group a,
.subject-viewer .followup .group button,
.introduction .prev-next button {
  background: #2b2e27;
  border: 1px solid #140b03;
  border-color: rgba(20,11,3,0.5);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 0px rgba(249,248,243,0.125) inset, 0 1px 3px rgba(20,11,3,0.75);
  box-shadow: 0px 1px 0px rgba(249,248,243,0.125) inset, 0 1px 3px rgba(20,11,3,0.75);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #dcdcdc;
  display: inline-block;
  font: inherit;
  padding: 3px 8px 3px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #140b03;
  vertical-align: middle;
}
#standard-button:hover,
.home-page .introduction .action a:hover,
.subject-viewer .controls .play button:hover,
.subject-viewer .controls .finished button:hover,
.subject-viewer .followup .group a:hover,
.subject-viewer .followup .group button:hover,
.introduction .prev-next button:hover {
  border-color: #140b03;
}
#standard-button:active,
.home-page .introduction .action a:active,
.subject-viewer .controls .play button:active,
.subject-viewer .controls .finished button:active,
.subject-viewer .followup .group a:active,
.subject-viewer .followup .group button:active,
.introduction .prev-next button:active {
  -webkit-box-shadow: 0 1px 0 rgba(20,11,3,0.25) inset;
  box-shadow: 0 1px 0 rgba(20,11,3,0.25) inset;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
}
#standard-button:disabled,
.home-page .introduction .action a:disabled,
.subject-viewer .controls .play button:disabled,
.subject-viewer .controls .finished button:disabled,
.subject-viewer .followup .group a:disabled,
.subject-viewer .followup .group button:disabled,
.introduction .prev-next button:disabled,
#standard-button.disabled,
.home-page .introduction .action a.disabled,
.subject-viewer .controls .play button.disabled,
.subject-viewer .controls .finished button.disabled,
.subject-viewer .followup .group a.disabled,
.subject-viewer .followup .group button.disabled,
.introduction .prev-next button.disabled {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#standard-toggle,
.home-page .recents .toggles button[name="toggle"],
.subject-viewer .controls button[name="toggle"],
.subject-viewer .toggles button {
  color: transparent;
  height: 20px;
  position: relative;
  text-shadow: none;
  width: 20px;
}
#standard-toggle:before,
.home-page .recents .toggles button[name="toggle"]:before,
.subject-viewer .controls button[name="toggle"]:before,
.subject-viewer .toggles button:before {
  background: rgba(20,11,3,0.5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 0 rgba(20,11,3,0.5) inset, 0 1px 0 rgba(249,248,243,0.5);
  box-shadow: 0 1px 0 rgba(20,11,3,0.5) inset, 0 1px 0 rgba(249,248,243,0.5);
  content: ' ';
  height: 10px;
  left: 50%;
  margin: -5px 0 0 -5px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 10px;
}
#standard-toggle.active:after,
.home-page .recents .toggles button[name="toggle"].active:after,
.subject-viewer .controls button[name="toggle"].active:after,
.subject-viewer .toggles button.active:after {
  background: rgba(249,248,243,0.5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 0 #f9f8f3 inset;
  box-shadow: 0 1px 0 #f9f8f3 inset;
  content: ' ';
  height: 6px;
  left: 50%;
  margin: -3px 0 0 -3px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 6px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: inherit;
  text-shadow: inherit;
  vertical-align: baseline;
  width: auto;
}
button::-moz-focus-inner {
  border: 0;
  outline: 1px dotted #000;
  padding: 0;
}
button:focus {
  outline: 1px dotted;
}
button:disabled {
  cursor: default;
  pointer-events: none;
}
html {
  background: url("./images/big-wood.jpg") fixed center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
}
html body {
  margin: 0;
  height: 100%;
  padding: 0 0 100px;
  position: relative;
}
html body > h1 {
  color: #f9f8f3;
  font: normal 30px Georgia, serif;
  letter-spacing: 10px;
  margin: 30px 0;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 3px #140b03;
  text-transform: uppercase;
  z-index: 1;
}
html body > h1 a {
  color: inherit;
  text-decoration: none;
}
html body > h1 a img {
  border: 0;
}
html body > nav {
  background: #f9f8f3;
  bottom: 0;
  -webkit-box-shadow: 0 0 3px #140b03;
  box-shadow: 0 0 3px #140b03;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 0 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 3;
}
html body > nav ul {
  margin: 0;
  padding: 0;
}
html body > nav ul li {
  display: inline-block;
  width: 160px;
  border-left: 1px solid #fff;
  -webkit-box-shadow: -2px 0 0 -1px #dcdcdc;
  box-shadow: -2px 0 0 -1px #dcdcdc;
}
html body > nav ul li:first-child {
  border-left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
html body > nav ul li a {
  color: inherit;
  display: block;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
html body > nav ul li a:hover,
html body > nav ul li a.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html body .before-load {
  color: #f9f8f3;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px #140b03;
}
html body .zooniverse-top-bar {
  background: #f9f8f3;
}
html body .main {
  z-index: 1;
  height: 100%;
}
html body .main > * {
  display: none;
}
html body .main > *.active {
  display: block;
}
html body .main a {
  color: inherit;
}
html body .main hr {
  height: 0;
  border: 1px solid transparent;
  border-top-color: rgba(20,11,3,0.5);
  border-bottom-color: rgba(249,248,243,0.25);
}
.home-page {
  zoom: 1;
  color: #f9f8f3;
  font-size: 14px;
  margin: 0 auto;
  text-shadow: 0 1px 1px #140b03;
  width: 1000px;
}
.home-page:before,
.home-page:after {
  content: "";
  display: table;
}
.home-page:after {
  clear: both;
}
.home-page .recents {
  float: left;
  position: relative;
  text-align: center;
  width: 600px;
}
.home-page .recents .images {
  margin-bottom: 1em;
  position: relative;
}
.home-page .recents .images figure {
  background: #808080;
  border: 5px solid #f9f8f3;
  -webkit-box-shadow: 0 2px 5px #140b03;
  box-shadow: 0 2px 5px #140b03;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 420px;
  margin: 0;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -moz-transition: -moz-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  -ms-transition: -ms-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  width: 600px;
}
.home-page .recents .images figure.active {
  z-index: 1;
  position: relative;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.home-page .recents .images figure.before {
  -webkit-transform: rotate(-1deg) translateX(-7px);
  -moz-transform: rotate(-1deg) translateX(-7px);
  -o-transform: rotate(-1deg) translateX(-7px);
  -ms-transform: rotate(-1deg) translateX(-7px);
  transform: rotate(-1deg) translateX(-7px);
}
.home-page .recents .images figure.before + .before {
  -webkit-transform: rotate(-3deg) translateX(-10px);
  -moz-transform: rotate(-3deg) translateX(-10px);
  -o-transform: rotate(-3deg) translateX(-10px);
  -ms-transform: rotate(-3deg) translateX(-10px);
  transform: rotate(-3deg) translateX(-10px);
}
.home-page .recents .images figure.after {
  -webkit-transform: rotate(4deg) translateX(7px);
  -moz-transform: rotate(4deg) translateX(7px);
  -o-transform: rotate(4deg) translateX(7px);
  -ms-transform: rotate(4deg) translateX(7px);
  transform: rotate(4deg) translateX(7px);
}
.home-page .recents .images figure.after + .after {
  -webkit-transform: rotate(6deg) translateX(10px);
  -moz-transform: rotate(6deg) translateX(10px);
  -o-transform: rotate(6deg) translateX(10px);
  -ms-transform: rotate(6deg) translateX(10px);
  transform: rotate(6deg) translateX(10px);
}
.home-page .recents .images figure img {
  display: block;
  max-width: 100%;
}
.home-page .introduction {
  float: left;
  margin: 0 50px;
  width: 300px;
}
.home-page .introduction h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
}
.home-page .introduction .progress p {
  margin: 0.25em;
}
.home-page .introduction .progress .season {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
}
.home-page .introduction .progress .track {
  display: inline-block;
  height: 6px;
  position: relative;
  vertical-align: middle;
  width: 205px;
}
.home-page .introduction .progress .track:before {
  background: rgba(20,11,3,0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  content: "";
  height: 100%;
  left: -2px;
  padding: 2px 2px 3px;
  position: absolute;
  top: -2px;
  width: 100%;
  z-index: -1;
}
.home-page .introduction .progress .track:before {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.home-page .introduction .progress .track .fill {
  background: #490;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  bottom: 0;
  -webkit-box-shadow: 0 1px 1px rgba(249,248,243,0.5) inset;
  box-shadow: 0 1px 1px rgba(249,248,243,0.5) inset;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  -ms-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}
.home-page .introduction .all-seasons-complete {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3d8a00), color-stop(1, #490));
  background: -webkit-linear-gradient(top, #3d8a00 0%, #490 100%);
  background: -moz-linear-gradient(top, #3d8a00 0%, #490 100%);
  background: -o-linear-gradient(top, #3d8a00 0%, #490 100%);
  background: -ms-linear-gradient(top, #3d8a00 0%, #490 100%);
  background: linear-gradient(top, #3d8a00 0%, #490 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(20,11,3,0.33);
  box-shadow: 0 1px 3px rgba(20,11,3,0.33);
  font-size: 12px;
  margin: 0 -3px;
  padding: 1px 15px;
  position: relative;
  text-shadow: none;
}
.home-page .introduction .action {
  margin-top: 25px;
}
.home-page .introduction .action a {
  background: #d32323;
  padding: 5px 25px;
}
.home-page .introduction .action a:before {
  background: rgba(20,11,3,0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  content: "";
  height: 100%;
  left: -5px;
  padding: 5px 5px 6px;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: -1;
}
.banner {
  font-size: 14px;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  -ms-perspective: 500;
  perspective: 500;
  position: absolute;
  text-align: center;
  text-shadow: none;
  -webkit-transform: translate(-7px, 0) rotate(-5deg);
  -moz-transform: translate(-7px, 0) rotate(-5deg);
  -o-transform: translate(-7px, 0) rotate(-5deg);
  -ms-transform: translate(-7px, 0) rotate(-5deg);
  transform: translate(-7px, 0) rotate(-5deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2;
}
.banner .fold {
  background: #b31e1e;
  bottom: -5px;
  margin: 0 -2px;
  position: absolute;
  width: 25px;
}
.banner a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d32323), color-stop(1, #be2020));
  background: -webkit-linear-gradient(top, #d32323 0%, #be2020 100%);
  background: -moz-linear-gradient(top, #d32323 0%, #be2020 100%);
  background: -o-linear-gradient(top, #d32323 0%, #be2020 100%);
  background: -ms-linear-gradient(top, #d32323 0%, #be2020 100%);
  background: linear-gradient(top, #d32323 0%, #be2020 100%);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  color: #fff;
  display: block;
  padding: 5px 80px 5px 50px;
  position: relative;
  text-decoration: none;
  -webkit-transition: box-shadow 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out, -moz-transform 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out, -o-transform 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out, -ms-transform 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
  z-index: 1;
}
.banner.save-snapshot-serengeti {
  left: 0;
  top: 0;
}
.banner.save-snapshot-serengeti .fold {
  border-top-left-radius: 10px 50px;
  height: 45px;
  right: 100%;
}
.banner.save-snapshot-serengeti a {
  border-bottom-right-radius: 10px 50px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.lift-banner .banner.save-snapshot-serengeti a,
.banner.save-snapshot-serengeti a:hover {
  -webkit-box-shadow: 3px 5px 10px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px rgba(0,0,0,0.25);
  -webkit-transform: rotateY(-5deg);
  -moz-transform: rotateY(-5deg);
  -o-transform: rotateY(-5deg);
  -ms-transform: rotateY(-5deg);
  transform: rotateY(-5deg);
}
.banner.save-the-memes {
  bottom: 60px;
  font-size: 10px;
  right: -15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.banner.save-the-memes .fold {
  border-top-right-radius: 10px 50px;
  height: 25px;
  left: 100%;
}
.banner.save-the-memes a {
  border-bottom-left-radius: 10px 50px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}
.lift-banner .banner.save-the-memes a,
.banner.save-the-memes a:hover {
  -webkit-box-shadow: 3px 5px 10px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px rgba(0,0,0,0.25);
  -webkit-transform: rotateY(5deg);
  -moz-transform: rotateY(5deg);
  -o-transform: rotateY(5deg);
  -ms-transform: rotateY(5deg);
  transform: rotateY(5deg);
}
.subject-viewer {
  display: inline-block;
  float: left;
  -webkit-tap-highlight-color: transparent;
}
.subject-viewer:focus {
  outline: 0;
}
.subject-viewer .images {
  position: relative;
}
.subject-viewer .images figure {
  border: 5px solid #f9f8f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 410px;
  left: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 580px;
}
.subject-viewer .images figure.active {
  -webkit-box-shadow: 0 3px 5px rgba(20,11,3,0.33);
  box-shadow: 0 3px 5px rgba(20,11,3,0.33);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: relative;
  z-index: 1;
}
.subject-viewer .images figure.satellite {
  left: 0;
  position: absolute;
  top: 0;
}
.subject-viewer .images figure.satellite img {
  width: auto;
}
.subject-viewer .images figure.satellite img.continent {
  bottom: 1px;
  -webkit-box-shadow: 1px -1px 5px #140b03;
  box-shadow: 1px -1px 5px #140b03;
  left: 1px;
  height: 150px;
  position: absolute;
  width: 150px;
}
.subject-viewer .images figure.satellite .timestamp {
  background: rgba(20,11,3,0.5);
  color: #f9f8f3;
  position: absolute;
  left: 0;
  text-align: center;
  text-shadow: 0 1px 1px #140b03;
  top: 0;
  width: 100%;
}
.subject-viewer .images figure img {
  display: block;
  width: 100%;
}
.subject-viewer .images .annotations {
  color: #f9f8f3;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  text-shadow: 0 0 1px #140b03, 0 0 1px #140b03, 0 0 1px #140b03, 0 0 2px #140b03, 0 1px 2px #140b03;
  top: 10px;
  z-index: 1;
}
.subject-viewer .images .annotations .annotation-item {
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  clear: left;
  float: left;
  padding: 1px 5px 1px 10px;
}
.subject-viewer .images .annotations .annotation-item.new {
  background: #fc0;
}
.subject-viewer .images .annotations .annotation-item:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  background: rgba(20,11,3,0.75);
}
.subject-viewer .images .annotations .annotation-item button[name="delete"] {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 1em;
  line-height: 1em;
  text-align: center;
  width: 1em;
}
.subject-viewer .images .extra-message {
  background: rgba(20,11,3,0.75);
  bottom: 5px;
  color: #f9f8f3;
  display: none;
  font-size: 12px;
  font-weight: bold;
  left: 5px;
  padding: 10px;
  position: absolute;
  right: 5px;
  text-align: center;
  text-shadow: 0 1px 1px #140b03;
  z-index: 1;
}
.subject-viewer .images .sign-in,
.subject-viewer .images .favorite {
  background: #d32323;
  color: #f9f8f3;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  -webkit-transition: padding 0.25s ease-out;
  -moz-transition: padding 0.25s ease-out;
  -o-transition: padding 0.25s ease-out;
  -ms-transition: padding 0.25s ease-out;
  transition: padding 0.25s ease-out;
  z-index: 1;
}
.subject-viewer .images .sign-in > button,
.subject-viewer .images .favorite > button {
  position: relative;
  z-index: 1;
}
.subject-viewer .images .sign-in {
  -webkit-box-shadow: 0 1px 3px rgba(20,11,3,0.5);
  box-shadow: 0 1px 3px rgba(20,11,3,0.5);
  padding: 0 10px;
  right: -3px;
  top: 10px;
}
.subject-viewer .images .sign-in:hover {
  padding-right: 15px;
}
.subject-viewer .images .sign-in:before,
.subject-viewer .images .sign-in:after {
  border: 10px solid rgba(211,35,35,0);
  content: "";
  position: absolute;
  left: -10px;
}
.subject-viewer .images .sign-in:before {
  border-top-color: #d32323;
  top: 0;
}
.subject-viewer .images .sign-in:after {
  border-bottom-color: #d32323;
  bottom: 0;
}
.subject-viewer .images .favorite {
  display: none;
  font-size: 16px;
  padding: 5px 5px 0;
  right: 10px;
  top: -3px;
}
.subject-viewer .images .favorite:hover {
  padding-top: 10px;
}
.subject-viewer .images .favorite:before,
.subject-viewer .images .favorite:after {
  border: 15px solid transparent;
  content: "";
  position: absolute;
  bottom: -15px;
}
.subject-viewer .images .favorite:before {
  border-left-color: #d32323;
  left: 0;
}
.subject-viewer .images .favorite:after {
  border-right-color: #d32323;
  right: 0;
}
.subject-viewer .images .favorite button[name="unfavorite"] {
  color: #fc0;
  display: none;
  text-shadow: 0 1px 1px #140b03;
}
.subject-viewer .controls,
.subject-viewer .followup {
  color: #2b140a;
  font-size: 14px;
  margin: 15px 0 4px;
  position: relative;
  text-shadow: 0 1px 0 rgba(249,248,243,0.25);
}
.subject-viewer .controls .play button,
.subject-viewer .controls .finished button {
  margin: 0 4px;
  position: relative;
}
.subject-viewer .controls .play button:before,
.subject-viewer .controls .finished button:before {
  background: rgba(20,11,3,0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  content: "";
  height: 100%;
  left: -5px;
  padding: 5px 5px 6px;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: -1;
}
.subject-viewer .controls button[name="play"] i,
.subject-viewer .controls button[name="pause"] i {
  position: relative;
  top: 2px;
}
.subject-viewer .controls button[name="pause"] {
  display: none;
}
.subject-viewer .controls .toggles {
  margin-left: 10px;
}
.subject-viewer .controls .satellite {
  margin-left: 5px;
}
.subject-viewer .controls button[name="satellite"] {
  vertical-align: -2px;
}
.subject-viewer .controls button[name="satellite"].active {
  color: #f9f8f3;
  text-shadow: 0 1px 1px #140b03;
}
.subject-viewer .controls .finished {
  float: right;
}
.subject-viewer .controls .finished .nothing-label {
  cursor: pointer;
  display: none;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}
.subject-viewer .controls .finished button {
  width: 120px;
}
.subject-viewer .followup {
  display: none;
}
.subject-viewer .followup button[name="not-done"] {
  background: rgba(20,11,3,0.5);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #f9f8f3;
  font-size: 10px;
  margin-right: 10px;
  padding: 0 10px;
  text-shadow: none;
}
.subject-viewer .followup .group {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}
.subject-viewer .followup .group:before {
  background: rgba(20,11,3,0.25);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  content: "";
  height: 100%;
  left: -4px;
  padding: 4px 4px 5px;
  position: absolute;
  top: -4px;
  width: 100%;
  z-index: -1;
}
.subject-viewer .followup .group.continue {
  float: right;
}
.subject-viewer .followup .group a,
.subject-viewer .followup .group button {
  padding-left: 32px;
}
.subject-viewer .followup .group a i,
.subject-viewer .followup .group button i {
  color: #140b03;
  border-right: 1px solid rgba(20,11,3,0.5);
  -webkit-box-shadow: 2px 0 1px -1px rgba(249,248,243,0.25);
  box-shadow: 2px 0 1px -1px rgba(249,248,243,0.25);
  height: 22px;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: 3px;
  text-shadow: 0 1px 0 rgba(249,248,243,0.25);
  width: 24px;
}
.subject-viewer .followup .group button[name="next"] {
  background: #337300;
}
.subject-viewer .followup .group button[name="next"]:active {
  background: #224d00;
}
.subject-viewer.zoomed .images figure {
  cursor: -moz-grab;
}
.subject-viewer.zoomed .images figure img {
  position: absolute;
  width: 1200px;
}
.subject-viewer.dragging .images figure {
  cursor: -moz-grabbing;
}
.subject-viewer.playing .controls .play button[name="play"] {
  display: none;
}
.subject-viewer.playing .controls .play button[name="pause"] {
  display: inline-block;
}
.subject-viewer.favorite .images .favorite button[name="favorite"] {
  display: none;
}
.subject-viewer.favorite .images .favorite button[name="unfavorite"] {
  display: inline-block;
}
.subject-viewer.no-annotations .controls .finished .nothing-label {
  display: inline-block;
}
.subject-viewer.finished .images .extra-message {
  display: block;
}
.subject-viewer.finished .controls {
  display: none;
}
.subject-viewer.finished .followup {
  display: block;
}
.signed-in .subject-viewer .images .sign-in {
  display: none;
}
.signed-in .subject-viewer .images .favorite {
  display: inline;
}
html {
  background-image: url("//www.snapshotserengeti.org/images/big-wood.jpg");
  text-align: center;
}
a {
  text-decoration: none;
}
.main {
  text-align: left;
}
.camera-info {
  font-size: 12px;
  font-weight: bold;
  margin: -15px 0 15px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}
.subject-viewer .images figure {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: relative;
}
.subject-viewer .images figure img {
  position: absolute;
}
.subject-viewer .controls {
  font-size: 12px;
  font-weight: bold;
  position: relative;
}
.subject-viewer .followup {
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.subject-viewer .followup .group a i {
  top: 0;
}
.introduction .controls {
  margin: 3em 0;
  text-align: center;
  width: 67%;
}
.introduction select {
  margin-top: 0.5em;
  width: 100%;
}
.introduction .prev-next {
  zoom: 1;
  margin-top: 0.5em;
}
.introduction .prev-next:before,
.introduction .prev-next:after {
  content: "";
  display: table;
}
.introduction .prev-next:after {
  clear: both;
}
.introduction .prev-next .gutter {
  display: inline-block;
  float: left;
  height: 0.5em;
  width: 5%;
}
.introduction .prev-next button {
  float: left;
  font-size: 12px;
  width: 47.5%;
}
.introduction .prev-next button:before {
  background: rgba(20,11,3,0.25);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  box-shadow: 0 1px 2px rgba(20,11,3,0.5) inset, 0 -1px 0px rgba(249,248,243,0.25) inset;
  content: "";
  height: 100%;
  left: -5px;
  padding: 5px 5px 6px;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: -1;
}
.sharing a {
  font-size: 24px;
  padding: 0 3px;
}
