@import "../../../node_modules/serengeti/node_modules/nib"
@import "../../../node_modules/serengeti/css/common"
@import "../../../node_modules/serengeti/css/button_reset"
@import "../../../node_modules/serengeti/css/layout"
@import "../../../node_modules/serengeti/css/home_page"
@import "../../../node_modules/serengeti/css/subject_viewer"

html
  background-image: url("//www.snapshotserengeti.org/images/big-wood.jpg")
  text-align: center

a
  text-decoration: none

.main
  text-align: left

.camera-info
  font-size: 12px
  font-weight: bold
  margin: -15px 0 15px
  text-shadow: 0 1px 1px rgba(#fff, 0.5)

.subject-viewer
  .images figure
    opacity: 1
    position: relative

    img
      position: absolute

  .controls
    font-size: 12px
    font-weight: bold

  .toggles button
    @extends #standard-toggle

.introduction
  .controls
    margin: 3em 0
    text-align: center
    width: 67%

  select
    margin-top: 0.5em
    width: 100%

  .prev-next
    GUTTER = 5

    clearfix()
    margin-top: 0.5em

    .gutter
      display: inline-block
      float: left
      height: 0.5em
      width: (GUTTER)%

    button
      @extends #standard-button
      outer-deboss(5px)
      float: left
      font-size: 12px
      width: (50 - (GUTTER / 2))%

.sharing
  a
    font-size: 24px
    padding: 0 3px
