@import "../../../node_modules/serengeti/css/common"
@import "../../../node_modules/serengeti/css/home_page"

#app
  max-width: 1000px

#subject-images
  position: relative
  
  img
    position: absolute
    right: 0
    top: 0
    z-index: 0